<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>COVID19</title>
    <meta charset="utf-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />-->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" />
</head>

<body>
    <ul>
        {% if user.is_authenticated %}
        <div class="left">
            <li>
                <p>ติดตามสถานการณ์ COVID 19 </p>
            </li>
        </div>
        <div class="right">
            <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
            <li><a>{{ user.username }}</a></li>
            <li><a href="{{ url_for('main.covid_date') }}">STATISRICS</a></li>
            <li><a href="{{ url_for('main.news') }}">NEWS</a></li>
            <li><a href="{{ url_for('main.world') }}">WORLD</a></li>
            <li><a href="{{ url_for('main.covid') }}">TODAY</a></li>
        </div>
        {% else %}
        <div class="left">
            <li>
                <p>ติดตามสถานการณ์ COVID 19 </p>
            </li>
        </div>
        <div class="right">
            
            <li><a href="{{ url_for('auth.signup') }}">REGISTER</a></li>
            <li><a href="{{ url_for('auth.login') }}">LOGIN</a></li>
            <li><a href="{{ url_for('main.news') }}">NEWS</a></li>
            <li><a href="{{ url_for('main.world') }}">WORLD</a></li>
            <li><a href="{{ url_for('main.covid') }}">TODAY</a></li>
        </div>
        {% endif %}
    </ul>
    </nav>

    <div>
        <div>
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <div class="footer">
        <div class="footertxt">
            <p>CP353 Web Technology</p>
            <p>Computer Science  Srinakharinwirot University</p>
            <p><a class="txt1" href="about">About</a></p>
        </div>

    </div>

</body>
<footer>

</footer>
</html>