{% extends "baselayout/base.html" %}
<html>

{% block content %}
<div class="space"></div>
<div class="aboutpage">
    <h1>MY TEAM</h1>
    <table class="about">
        <tr class="row">
            <th class="rowh"><img class="image" src="https://www.img.in.th/images/a9fa8f46481ff381b18fda1aaa72e423.jpg">
            </th>
            <th class="rowh"><img class="image" src="https://www.img.in.th/images/6612b83c4bbff559ebdaf87ae9ba167a.jpg">
            </th>
            <th class="rowh"><img class="image" src="https://www.img.in.th/images/813c6fd0c3a2dc2e8c52afa661b09569.jpg">
            </th>
        </tr>


        {% for member in members %}
        <th class="rowh">
            {{ member.firstname }}
            {{ member.lastname }}<br>
            {{ member.studentid }}<br>
            {{ member.email }}
        </th>


        {% endfor %}

    </table>

    

</div>
{% endblock %}

</html>