{% extends "baselayout/base.html" %} {% block content %}
<div class="space"></div>
<div class="head">
  <h1>จำนวนผู้ติดเชื้อทั้งหมดในประเทศไทย</h1>
  <h6>อัพเดตล่าสุด : {{ covid.UpdateDate }}</h6>
</div>
<div class="covid">
  <div>
    <div class="cases">
      <h1>
        ผู้ติดเชื้อสะสม
        <br />
        {{ covid.cases }}
        <p>**เพิ่มขึ้น {{ covid.NewConfirm }}**</p>
      </h1>
    </div>
    <div class="recover">
      <div class="content re">หายแล้ว<br />{{ covid.Recovered }}</div>
      <div class="content ho">กำลังรักษา<br />{{ covid.Hospitalized }}</div>
      <div class="content di">เสียชีวิต<br />{{ covid.Died }}</div>
    </div>
  </div>
</div>

{% endblock %}
