{% extends "baselayout/base.html" %}

{% block content %}
<div class="space">

</div>
<div class="head">
    <h3>สถิติข้อมูล COVID 19 ตั้งแต่วันที่ 01/01/2020</h3>
    <form>
        <div>
            Search for :
            <input type="text" class="form-control" name="day" id="day" placeholder="Ex.01/01/2020" />
            <button class="but"  type="submit" value="Search">Search</button>
        </div>
    </form>
</div>

<table >
    <tr>
        <th>วันที่</th>
        <th>ยอดผู้ติดเชื้อรายวัน</th>
        <th>ยอดผู้ติดเชื้อสะสมรายวัน</th>
        <th>หายแล้ว</th>
        <th>รักษาอยู่ในรพ.</th>
        <th>เสียชีวิต</th>
        <th>เสียชีวิตสะสม</th>
    </tr>
    {% for date,newconfirm,confirm, recovered,hospitalized,newdeaths,deaths in mylist %}
    <tr>
        <td>{{ date }}</td>
        <td>{{ newconfirm }}</td>
        <td>{{ confirm }}</td>
        <td>{{ recovered }}</td>
        <td>{{ hospitalized }}</td>
        <td>{{ newdeaths }}</td>
        <td>{{ deaths }}</td>
    </tr>
    {% endfor %}

</table>
{% endblock %}