<!-- {% extends "baselayout/base.html" %} {% block content %}
<div class="space"></div>
<div class="limiter">
  <div class="container-assesment">
    <div class="wrap-assesment">
      <form class="loginform" method="POST">
        <span class="login-title">แบบทดสอบประเมิณความเสี่ยง</span>

        <div class="wrapinput">
          <label class="question"
            >1.ท่านมีประวัติเดินทางไปต่างประเทศ หรือพื้นที่
            ที่มีการระบาดของโรคติดเชื้อไวรัสโคโรนา 2019 (COVID-19) ในช่วงเวลา 14
            วัน ก่อนหน้านี้ ใช่หรือไม่ ?</label
          >
          <div class="radio">
            <label class="radio-inline">
              <input type="radio" name="q1" value="1" required />ใช่
            </label>
            <label class="radio-inline">
              <input type="radio" name="q1" value="0" />ไม่ใช่
            </label>
          </div>
        </div>

        <div class="wrapinput">
            <label class="question"
              >2.ท่านสัมผัสใกล้ชิดกับประชาชนที่มาจากพื้นที่ที่มีรายงานการระบาดต่อเนื่องของโรคติดเชื้อไวรัสโคโรนา
              2019 (COVID-19) ใช่หรือไม่ ?</label
            >
            <div class="radio">
              <label class="radio-inline">
                <input type="radio" name="q1" value="1" required />ใช่
              </label>
              <label class="radio-inline">
                <input type="radio" name="q1" value="0" />ไม่ใช่
              </label>
            </div>
          </div>

          
        <div class="wrapinput">
          <label class="question"
            >3.
            ท่านมีประวัติใกล้ชิดหรือสัมผัสกับผู้ป่วยเข้าข่ายหรือยืนยันโรคติดเชื้อไวรัสโคโรนา
            2019 (COVID-19) ใช่หรือไม่ ?</label
          >
          <div class="radio">
            <label class="radio-inline">
              <input type="radio" name="q1" value="1" required />ใช่
            </label>
            <label class="radio-inline">
              <input type="radio" name="q1" value="0" />ไม่ใช่
            </label>
          </div>
        </div>

          
        <div class="wrapinput">
          <label class="question"
            >4. ท่านหรือบุคคลใกล้ชิดเข้าร่วมกิจกรรมที่มีผู้ชุมนุมเกิน 100 คน
            ในช่วงเวลา 14 วัน ก่อนหน้านี้ ใช่หรือไม่ ?</label
          >
          <div class="radio">
            <label class="radio-inline">
              <input type="radio" name="q1" value="1" required />ใช่
            </label>
            <label class="radio-inline">
              <input type="radio" name="q1" value="0" />ไม่ใช่
            </label>
          </div>
        </div>


          <div>
            <h2>มีอาการดังต่อไปนี้</h2>
            <div class="custom-checkbox">
              <label class="radio-inline">
                <input type="checkbox" name="a1" value="1" />มีไข้ 37.5 ขึ้นไป
              </label>
            </div>
            <div class="custom-checkbox">
              <label class="radio-inline">
                <input type="checkbox" name="a2" value="1" />ไอ
              </label>
            </div>
            <div class="custom-checkbox">
              <label class="radio-inline">
                <input type="checkbox" name="a3" value="1" />น้ำมูก
              </label>
            </div>
            <div class="custom-checkbox">
              <label class="radio-inline">
                <input type="checkbox" name="a4" value="1" />เจ็บคอ
              </label>
            </div>
            <div class="custom-checkbox">
              <label class="radio-inline">
                <input type="checkbox" name="a5" value="1" />หายใจเร็ว หรือ
                หายใจลำบาก หรือ หายใจไม่สะดวก
              </label>
            </div>
            <div class="custom-checkbox">
              <label class="radio-inline">
                <input type="checkbox" name="a6" value="1" />จมูกไม่ได้กลิ่น
              </label>
            </div>
            <div class="custom-checkbox">
              <label class="radio-inline">
                <input
                  type="checkbox"
                  name="end1"
                  id="end1"
                  value="1"
                />ไม่มีอาการข้างต้น
              </label>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %} -->
